.App {
  text-align: center;
  background-color: aliceblue;
  padding: 10px;
}

.Panel {
  background-color: white;
  border-radius: 5px;
  border: 1px black solid;
}

.Panel + .Panel {
  margin-top: 10px;
}

.PanelHeader {
  padding: 5px;
  border-bottom: 1px gray solid;
}

.PanelHeaderRow {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.PanelHeaderElement {
  display: flex;
  width: 10%;
  min-width: 4em;
}

.PanelHeaderElement span {
  font-size: 0.7em;
  flex: 1;
  text-align: right;
  padding-right: 5px;
}

.PanelHeaderElement input {
  flex: 1;
  width: 100%;
}

.PanelBody {
  display: flex;
  padding: 5px;
}

.Graph {
  flex: 1;
  border-right: 1px grey solid;
  display: flex;
  flex-direction: column;
}

.GraphElement {
  font-size: 0.4em;
  display: flex;
  flex: 1;
  padding-right: 5px;
}

.GraphElement span {
  flex: 1;
  text-align: right;
  margin: 2px;
  align-self: center;
}

.Bar {
  margin: 3px;
  flex: 7;
  background-color: darkgray;
}

.BarElement {
  width: 0;
  height: 100%;
  max-width: 100%;
  min-width: 0%;
  transition: ease-out .5s width;
  background-color: black;
}

.Statistics {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.StatElement {
  font-size: 0.4em;
  display: flex;
  width: 50%;
  align-items: center;
  min-height: 18px;
}

.StatElement span {
  flex: 1;
  text-align: right;
  padding-right: 5px;
}

@media(max-width: 1024px) {
  .PanelBody {
    flex-direction: column;
  }

  .Graph {
    border-right: none;
    border-bottom: 1px grey solid;
  }

  .Statistics {
    padding-top: 5px;
  }

  .StatElement input {
    flex: 1;
    width: 100%;
  }
}